%h1.page-header Sign up
%form{role: "form", action: "/signup", method: :post}
  .form-group
    %label{:for => "email"} Email
    %input#email.form-control{:placeholder => "Enter email", :name => "email", :type => "text" }
  .form-group
    %label{:for => "password"} Password
    %input#password.form-control{:placeholder => "Enter password", :name => "password", :type => "password" }
  %button.btn.btn-default{:type => "submit"} Sign up