%form{role: "form", action: "#{action}", method: :post}
  .form-group
    %label{:for => "title"} Title
    %input#title.form-control{:placeholder => "Enter title", :name => "article[title]", :type => "text", :value => "#{article.title}" }
  .form-group
    %label{:for => "title"} Text
    %textarea#body.form-control{:name => "article[body]", :placeholder => "Enter text" }
      = article.body
  %button.btn.btn-default{:type => "submit"} Save