%ul#nav.nav.nav-sidebar
  %li.dropdown
    %a{:href => "#", :'data-toggle' => "dropdown", :'data-target' => "#"}
      Articles
      .span.caret
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "/admin/articles"} Lista
      %li.divider{:role => "presentation"}
      %li
        %a{:href => "/admin/articles/new"} Nowy
  %li.dropdown
    %a{:href => "#", :'data-toggle' => "dropdown", :'data-target' => "#"}
      Categories
      .span.caret
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "/admin/categories"} Lista
      %li.divider{:role => "presentation"}
      %li
        %a{:href => "/admin/categories/new"} Nowy
  %li
    %a{:href => "#"} Tags
  %li
    %a{:href => "/admin/users"} Users