%h2
  =@article.title
%div
  .date
    = @article.created_at.strftime("%d %b %Y %H:%M")
  =@article.body
  .actions
    %a.btn.btn-default{:href => "/admin/articles/#{@article.id}/edit"} Edit

%hr/

%h4 Comments

%ul
  -for comment in @article.comments
    %li
      =comment.body