.container
  %h2
    =@article.title
  %div
    .date
      = @article.created_at.strftime("%d %b %Y %H:%M")
    =@article.body

  %hr/

  %h4 Comments

  %ul
    -for comment in @article.comments
      %li
        =comment.body

  =partial "_comment_form", locals: {article: @article }