%h1 Sign up

%form(action="/signup" method="post")
  .form-group
    %label{:for => "username"} Username
    %input#username.form-control{:placeholder => "Enter username", :name => "username", :type => "text" }
  .form-group
    %label{:for => "password"} Password
    %input#password.form-control{:placeholder => "Enter password", :name => "password", :type => "text" }
  .form-group
    %label{:for => "checkpassword"} Password
    %input#password.form-control{:placeholder => "Enter password", :name => "checkpassword", :type => "text" }
  %div
    %input(type="submit" value="Sign Up")