.container {
  width: 960px;
}

body {
  padding-top: 50px;
}

#header {
  margin-bottom: 20px;
}

.date {
  font-style: italic;
}

.actions {
  margin: 10px 10px 10px 0;
}

.inline {
  display: inline;
}