%h2.page-header
  =@article.title
%div
  .date
    = succeed "," do
      = @article.category.name
    = @article.created_at.strftime("%d %b %Y %H:%M")
  %article
    =@article.body
  .actions
    %a.btn.btn-default{:href => "/admin/articles/#{@article.id}/edit"} Edit

%hr/

%h4 Comments

%ul
  -for comment in @article.comments
    %li
      =comment.body