%h2.page-header
  =@category.name
%div
  .actions
    %a.btn.btn-default{:href => "/admin/categories/#{@category.id}/edit"} Edit

%hr/

%h4 Articles

%ul
  -for article in @category.articles
    %li
      %a{:href => "/admin/articles/#{article.id}"}= article.title